<div class="container">
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
      <div class="row-title">
        <h2 class="title">CONTATO</h2>
        <button class="btn btn-primary btn-save" type="submit" [disabled]="!contactForm.valid">Salvar</button>
      </div>
      <div>
        <label for="phone">Telefone:</label>
        <input type="text" id="phone" formControlName="phone" mask="00 0000-00000">
        <span class="warning-txt" *ngIf="contactForm.controls['phone'].status == 'INVALID' && contactForm.get('phone')?.touched">
          Formato de telefone está incorreto
        </span>
      </div>
      <div class="row">
          <div class="row-input">
            <label for="name">Nome:</label>
            <input 
              type="text" 
              id="name" 
              formControlName="name" 
              pattern="^([A-Za-zÀ-Úà-ú\s'-]*\b)+$"
            >
            <span class="warning-txt" [hidden]=" contactForm.get('name')?.valid  || contactForm.get('name')?.untouched">
              Informe um nome válido
            </span>
          </div>
          <div class="row-input">
            <label for="lastName">Sobrenome:</label>
            <input 
              type="text" 
              id="lastName" 
              formControlName="lastName" 
              pattern="^([A-Za-zÀ-Úà-ú\s'-]*\b)+$"
            >
            <span class="warning-txt" [hidden]=" contactForm.get('lastName')?.valid  || contactForm.get('lastName')?.untouched">
              Informe um sobrenome válido
            </span>
          </div>
      </div>
      <div>
        <label for="profession">Profissão:</label>
        <input type="text" id="profession" formControlName="profession" >
      </div>
      <div>
        <label for="email">E-mail:</label>
        <input type="text" id="email" formControlName="email" >
        <span class="warning-txt" *ngIf="contactForm.controls['email'].status == 'INVALID' && contactForm.get('email')?.touched">
          Formato de e-mail está incorreto
        </span>
      </div>
    </form>
  </div>
  
