.navbar {
  margin-bottom: 20px; /* Add some spacing at the bottom */
}

.navbar-brand {
  font-weight: bold;
}

.nav-link {
  margin-right: 10px; /* Add some spacing between the links */
}

.sidebar-menu {
  display: none; /* Hide the sidebar menu by default */
}

.sidebar-menu.open {
  display: block; /* Show the sidebar menu when open class is added */
}

