.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #959595;
    border-radius: 16px;
  }
  
  label {

    margin-bottom: 10px;
    color: #959595;
  }
  
  input {
    width: 100%;
    padding: 5px;
    margin-bottom: 15px;
  }

.title{
  color: #4e4e4e;
}

.row{
  display: flex;
  flex-direction: row;
}
.row-input{
  width: 50%;
}