<div class="container">
    <h2 class="title">CONTATO</h2>
    <div>
      <label for="phone">Telefone:</label>
      <input type="text" id="phone" >
    </div>
    <div class="row">
        <div class="row-input">
            <label for="name">Nome:</label>
            <input type="text" id="name" >
        </div>
        <div class="row-input">
          <label for="lastName">Sobrenome:</label>
          <input type="text" id="lastName" >
        </div>
    </div>
    <div>
      <label for="profession">Profissão:</label>
      <input type="text" id="profession" >
    </div>
  </div>
  
