
    <div class="row">
        <div style="width: 50%;">
            <span style="margin-right: 5px;">{{name | uppercase}}</span>
            <span>{{lastName | uppercase}}</span>
        </div>
        <div class="btn-div">
            <button href="" class="btn" (click)="editItem()">
                <i class="bi bi-three-dots"></i>
            </button>
            <button type="button" class="btn" (click)="deleteItem()">
                <i class="bi bi-trash-fill"></i>
            </button>
        </div>
    </div>

