.row{
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.btn-div{
    width: 30%;
    display: flex;
    flex-direction:row;
    justify-content:flex-end;
}

.btn{
    text-decoration: none;
    margin: 0 5px 0 5px;
}