<div >


        <button class="btn btn-primary add-btn" type="button">Adicionar</button>
        <div class="dropdown spacer">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Media
          </button>
          <ul class="dropdown-menu ul-dropdown">
            <li value="facebook" >
                <i class="bi bi-facebook media-icon"></i>
            </li>
            <li value="whatsapp">
                <i class="bi bi-whatsapp media-icon"></i>
            </li>
            <li value="instagram">
                <i class="bi bi-instagram media-icon"></i>
            </li>
            <li value="linkedin">
                <i class="bi bi-linkedin media-icon"></i>
            </li>
          </ul>
        </div>
        <input type="text" placeholder="Enter text">

  </div>  
