<div class="media-row">
  <button 
    class="btn btn-primary add-btn spacer" 
    type="button"
    (click)="emitEvent()"
  >Adicionar</button>
  <div class="dropdown spacer">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Media
    </button>
    <ul class="dropdown-menu ul-dropdown">
      <li 
        value="facebook" 
        (click)="dropdownAction('facebook')"
      >
        <i class="bi bi-facebook media-icon"></i>
      </li>

      <li 
        value="whatsapp"
        (click)="dropdownAction('whatsapp')"
      >
        <i class="bi bi-whatsapp media-icon"></i>
      </li>

      <li 
        value="instagram"
        (click)="dropdownAction('instagram')"
      >
        <i class="bi bi-instagram media-icon"></i>
      </li>

      <li 
        value="linkedin"
        (click)="dropdownAction('linkedin')"
      >
        <i class="bi bi-linkedin media-icon"></i>
      </li>
    </ul>
  </div>
  <div [ngSwitch]="mediaIcon" style="margin-right: 5px;">
    <div *ngSwitchCase="'facebook'">
      <i class="bi bi-facebook media-icon"></i>
    </div>
    <div *ngSwitchCase="'whatsapp'">
      <i class="bi bi-whatsapp media-icon"></i>
    </div>
    <div *ngSwitchCase="'instagram'">
      <i class="bi bi-instagram media-icon"></i>
    </div>
    <div *ngSwitchCase="'linkedin'">
      <i class="bi bi-linkedin media-icon"></i>
    </div>
    <div *ngSwitchDefault>
      <i class="bi bi-facebook media-icon"></i>
    </div>
  </div>
  
  <input name="mediaValue" type="text" placeholder="Media" [(ngModel)]="mediaValue">
</div>  
